__pycache__/__init__.cpython-39.pyc
__pycache__/serial_comm.cpython-39.pyc
__pycache__/sim_audio.cpython-39.pyc
__pycache__/sim_hardaware.cpython-39.pyc
__pycache__/sim_modem.cpython-39.pyc
__pycache__/sim_sql.cpython-39.pyc
.sim_audio.py.2023_0503--0101.bak
5127_2023-05-03_0128:16.wav
5127_2023-05-03_0128:28.wav
5127_2023-05-03_0129:02.wav
